.sliderImage{
    width: 100%;
    height: 350px;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 40px;
}
.Neha{
    width: 100%;
    height: 350px;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
}
.container{
    background-color: rgb(218, 160, 193);
    height: 450px;
    border-radius: 40px;
    padding: 5px;
}
.sliderTitle{
    text-align: center;
    font-size: 24px;
}