.image{
    width:  200px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px gray;
}

.productcard{
    background-color: rgb(231, 183, 204);
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px gray;

}

.productcontainer{
    margin: 20px;                                                                                                                                                                                                      
    text-align: center;
    display: flex;
    padding: 20px;
    gap: 30px;
    background: linear-gradient(red,yellow);
    

    

    

    
} 